// normalize css npm
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');

:root {
    --primary: rgb(255, 187, 13);
    --black: #000;
    --white: #fff;
    --green: #80c125;
    --text-color: #333333;
    --grey-text: #959595;
    --background-color: #eeeeee;
    --error: red;

    --small-radius: 8px;
    --medium-radius: 12px;
    --header-height: 80px;

    // --font-family: 'IBM Plex Sans', sans-serif;
    --font-family: cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 739px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

body {
    background-color: var(--background-color);
}

input#file-upload-button {
    color: red !important;
}
