.wrapper {
    margin-top: calc(var(--header-height) + 16px);
    margin-bottom: 20px;
    min-height: 446px;
}

.title-wrapper {
    background-color: var(--green);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--small-radius);
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 800;
    margin: 0;
    color: var(--white);
}

.control {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.search {
    width: 300px;
    height: 36px;
    display: flex;
    padding-left: 12px;
    background-color: var(--white);
    border-radius: 6px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        padding-right: 12px;
        color: var(--text-color);
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
        font-family: var(--font-family);
    }

    &:focus-within {
        border-color: var(--green);
    }

    .search-btn {
        background-color: transparent;
        border-top-right-radius: var(--small-radius);
        border-bottom-right-radius: var(--small-radius);
        color: var(--grey-text);
        width: 38px;

        &:hover {
            background-color: rgba(110, 255, 13, 0.1);
            color: var(--green);
            cursor: pointer;
        }
    }

    @media screen and (max-width: 767.5px) {
        width: 200px;

        input {
            padding-right: 0;
            width: 20px;
        }
    }
}

.filter-control {
    margin-right: 12px;
}

.filter-label {
    margin-right: 8px;
    font-weight: 700;
    font-size: 1.6rem;
}

.filter-select {
    border-radius: var(--small-radius);
    width: 140px;
    height: 32px;
    outline: none;
    border: none;

    &.border {
        border: 1px solid #ccc;
    }
}

// Button
.lock-btn {
    background-color: rgba(255, 69, 69, 0.8);
    // width: 40px;
    border-color: transparent;
    color: var(--white);
    border-radius: var(--small-radius);
    padding: 4px 8px;
    margin-left: 4px;
    min-width: 90px;

    &:hover {
        background-color: rgba(255, 69, 69, 1);
    }
}

.unlock-btn {
    background-color: rgba(87, 201, 21, 0.8);
    // width: 40px;
    border-color: transparent;
    color: var(--white);
    border-radius: var(--small-radius);
    padding: 4px 8px;
    margin-left: 4px;
    min-width: 90px;

    &:hover {
        background-color: rgba(87, 201, 21, 1);
    }
}

// Pagination

.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
