.wrapper {
    display: flex;
    height: 120px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 180px;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    background-color: rgb(255, 255, 255);
    
}

.image_wrapper
{
    height: 100%;      
    width: fit-content; 
    padding-right: 50px;
    
}

.image {
    height: 120px;
    width: 120px;
    aspect-ratio: 10 / 8;
    object-fit:cover;
    border-radius: 50%;
    display: block;
    box-shadow: 0 3px 3px #a0a0a0;
    display: block;
    //margin-bottom: 8px;
    position: absolute;
    left: 0;
}



.info 
{
    
    width: 70%;
    
}

.name , .des {   // for name and description 
    font-size: 2rem;
    font-weight: 600;
    width:100% ;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.btn 
{
    background-color: #1EE54A;
    color: black;
    font-weight: 100;
}

.btn + .btn 
{
    margin-left: 20px ;
} 