.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    padding: 8px 0;
    border-radius: var(--small-radius);
    background: var(--white);
    box-shadow: rgb(0 0 0 /12%) 0px 2px 12px;
}
