.wrapper {
    padding-top: calc(var(--header-height) + 8px);
}

// DETAIL
.name {
    margin: 14px 0 20px 0;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
}

.desc {
    display: flex;
}

.food-img {
    width: 50%;
    aspect-ratio: 10 / 6;
    object-fit: cover;
    display: block;
    margin-right: 12px;
    border-radius: var(--small-radius);
}

.desc-detail {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    padding: 12px;
    border-radius: var(--small-radius);
}



.ingre-wrapper,
.guid-wrapper {
    padding: 12px;
    border-radius: var(--small-radius);
    background-color: var(--white);
    margin-top: 12px;
}

.title {
    margin: 8px 0;
    font-size: 2.4rem;
    font-weight: 600;
}

.title ~ div ul {
    margin-left: 50px;
}
