.wrapper {
    padding-top: calc(var(--header-height) + 8px);
}

// DETAIL
.name-wrapper {
    margin: 14px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.author {
    margin-bottom: 0;

    span {
        font-weight: 600;
        font-size: 1.8rem;
    }
}

.desc {
    display: flex;
}

.food-img {
    width: 50%;
    aspect-ratio: 10 / 6;
    object-fit: cover;
    display: block;
    margin-right: 12px;
    border-radius: var(--small-radius);
}

.desc-detail {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    padding: 12px;
    border-radius: var(--small-radius);
}

.ingre-wrapper,
.guid-wrapper {
    padding: 12px;
    border-radius: var(--small-radius);
    background-color: var(--white);
    margin-top: 12px;
}

.title {
    margin: 8px 0;
    font-size: 2.4rem;
    font-weight: 600;
}

.title ~ div ul {
    margin-left: 50px;
}

// ACTION
.action-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.favourite-btn {
    min-width: 80px;
    font-size: 2.2rem;
    border-radius: var(--medium-radius);
    padding: 4px 10px;
    border: 1px solid #ff4d4d;
    background-color: rgba(255, 77, 77, 0.2);
    color: rgba(255, 255, 255, 0.6);
}

.rating-btn {
    min-width: 80px;
    font-size: 2.2rem;
    border-radius: var(--medium-radius);
    padding: 4px 10px;
    border: 1px solid rgb(226, 232, 45);
    background-color: rgb(226, 232, 45);
    opacity: 0.8;
    color: var(--white);
    margin-left: 8px;

    &:hover {
        opacity: 1;
    }
}

.favourite-btn.active,
.favourite-btn:hover {
    min-width: 80px;
    font-size: 2.2rem;
    border-radius: var(--medium-radius);
    padding: 4px 10px;
    background-color: #ff4d4d;
    color: var(--white);
}

.save p,
.rating p {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.stars {
    // margin-right: 6px;
    color: var(--grey-text);
    font-size: 26px;

    span {
        line-height: 1;
    }
}

// COMMENT
.comment-wrapper {
    margin-top: 12px;
}

.input-group {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.cmt-input {
    margin-left: 8px;
    border-radius: 2000px;
    height: 40px;
    min-width: 300px;
    padding: 4px 12px;
    font-size: 1.6rem;
}
