.wrapper {
    padding-top: calc(var(--header-height) + 8px);
    min-height: 550px;
}

// INFO
.brand {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    text-shadow: 2px 2px 4px #000000;
    border-radius: var(--small-radius);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slogan {
    // font-weight: 700;
    margin-left: 20px;
    font-family: var(--sub-font-1);
}

.info {
    display: flex;
    height: 100%;
    flex-shrink: 0;
}

.info-item {
    text-align: center;
    margin-right: 20px;
}

.info-item-number {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.info-item-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

// FILTER
.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.filter-name {
    font-weight: 800;
    font-size: 20px;
}

.filter-group {
    display: flex;
}

.filter-control {
    margin-left: 12px;
}

.filter-label {
    margin-right: 8px;
    font-weight: 700;
    font-size: 16px;
}

.filter-select {
    border-radius: var(--small-radius);
    width: 160px;
    height: 32px;
    outline: none;
    border: none;
}

// No-item message
.notfound-message {
    margin-right: 8px;
    color: rgb(255, 62, 78);
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    margin: 20px 0;
}

.pagination-wrapper {
    text-align: end;
    margin: 14px 0;
}
